- model_class = Lot.new.class
%h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th Время завершения
      %th Завершен?
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @lots.each do |lot|
      %tr
        %td= link_to lot.id, lot_path(lot)
        %td= lot.endtime
        %td= lot.status ? "Да":"Нет"
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_lot_path(lot), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), lot_path(lot), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_lot_path, :class => 'btn btn-primary'
